PORT=5000
NODE_ENV=development
MONGODB_URI=mongodb+srv://user:pass@cluster.mongodb.net/bronuz
JWT_ACCESS_SECRET=change_this_64_char_secret_key_here_bronuz_2026_secure
JWT_REFRESH_SECRET=change_this_64_char_refresh_key_bronuz_2026_very_secure
JWT_ACCESS_EXPIRE=15m
JWT_REFRESH_EXPIRE=7d
CLIENT_URL=http://localhost:5000
